<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="javascript/scripts.js"></script>
  <title> Minha página com EJS</title>
 </head>
 <body>
   <center><h2>JORNAL HOJE E AGORA</h2>
   <h3 class="off">Neste site você encontrara as notícias que estão acontecendo hoje no mundo.</h3>
   <h3 class="off"> Para começar a ver essas notícias,<mark>clique neste link abaixo</mark>, onde você será<br> redirecionado a página de todas as noticias de hoje.<br><br><br>Não fique por fora do que esta acontecendo no País e no Mundo.</h3><br>
   <h2><a href="/noticias" class="java">Lista de Notícias de Hoje</a></center></h2>
 </body>
</html>