<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <link rel="stylesheet" href="css/estilo.css">
    <script src="javascript/scripts.js"></script>
  <title> Minha página com EJS</title>
 </head>
 <body>
 <fieldset class="cor">
   <center><h1>Notícias de Hoje</h1></center>
   <center><h4>As Notícias mais questes do dia, você só encontra aqui.</h4></center></fieldset>
   <p> ESCOLHA A NOTÍCIA DO SEU INTERESSE, SEM PROPAGANDAS<br> E SAIBA TUDO O QUE ESTA ACONTECENDO HOJE.</p>
   
   <center><h3>Notícias</h3></center>
   <fieldset>
   <h3>Racismo no futebol brasileiro segue com punição branda desde caso Grafite</h3>
   <h3 class="sorte"><img src="kkk/img.jpg"/> <a href="/noticias.01">Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
    <h3 class="sorte">Hoje é Dia: celebrações à democracia e à televisão marcam a semana</h3>
    <h3><a href="/noticias.02"> Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
   <h3>Djokovic tenta se isolar como o maior vencedor de Grand Slams</h3>
   <h3><a href="/noticias.03">Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
   <h3>Brasil é 5º maior alvo de cibercrimes no mundo</h3>
   <h3><a href="/noticias.04">Apresentação desta notícia</a></h3>
   </fieldset>
   <fieldset>
  <h3>Consumo de álcool na gravidez pode causar problemas físicos e distúrbios mentais ao bebê</h3>
    <h3><a href="/noticias.05">Apresentação desta notícia</a></h3>
   </fieldset>
   <h2><a href="/">Voltar para pagina inicial</a></2>
   });
 </body>
</html>
